*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
    background-color: #CEB5A7;
}

.flexContainer {
	display:flex;
	flex-wrap:wrap;
    justify-content: space-around;
}

.flexChild {
    display:flex;
    margin: 1%;
}

nav {
    border: 3px solid black;
    height: 100px;
}

.content{
    
}

.box{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

footer {
    border: 3px solid black;
    height: 200px;
}

/* colors */

.blue {
    background-color: #75B9BE;
}

.yellow {
    background-color: #FAF8D4;
}

.pink {
     background-color: #EAC5D8;
}

.green {
    background-color: #ABC4AB;
}